body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#market{
  width: 100%;
  display:grid;
  align-items:center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  grid-gap: 2rem
}

.buybutton{
  font-size: 2rem;
}

.truncate {
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}